body,
h1,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #CAA6A6;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #944E63;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    padding: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    color: #585656;
}

footer {
    background-color: #944E63;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.social-media a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

#employeeCards {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

fieldset {
    width: 20%;
    margin: 10px;
}

h1 {
    margin-bottom: 10px;
}

#employeeForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#submitButton {
    width: 25%;
}